[submodule "Libraries/NARCSharp"]
	path = Libraries/NARCSharp
	url = https://github.com/Jenrikku/NARCSharp.git
[submodule "Libraries/SceneGL"]
	path = Libraries/SceneGL
	url = https://github.com/jupahe64/SceneGL
[submodule "Libraries/SPICA"]
	path = Libraries/SPICA
	url = https://github.com/Jenrikku/SPICA.git
[submodule "Libraries/BYAMLSharp"]
	path = Libraries/BYAMLSharp
	url = https://github.com/Jenrikku/BYAMLSharp
[submodule "Libraries/tinyfiledialogs"]
	path = Libraries/tinyfiledialogs
	url = https://github.com/Jenrikku/TinyFileDialogsSharp
